html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

  *,
  *::before,
  *::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
              box-sizing: inherit;
  }


body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

#root {
 width: 100%;
 max-width: 1440px;
}

.tree-node {
  margin-left: 20px;
  border-left: 1px dashed #aaa;
  padding-left: 8px;
  position: relative;
}

.node-toggle {
  display: flex;
  cursor: pointer;
  transition: color 0.3s;
}

.child-nodes {
  margin-left: 20px;
  list-style: none;
  padding-left: 8px;
}

.child-nodes > li {
  margin: 5px 0;
}

